<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>159718753959-3d6qm5hq8v6surhhop3g6f681lpqo67b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159718753959-3d6qm5hq8v6surhhop3g6f681lpqo67b</string>
	<key>API_KEY</key>
	<string>AIzaSyDyb__RCum_k2Ico0IQxqiQKXVx6j4i96U</string>
	<key>GCM_SENDER_ID</key>
	<string>159718753959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hotboxgrids.dev</string>
	<key>PROJECT_ID</key>
	<string>hotbox-dev-8e719</string>
	<key>STORAGE_BUCKET</key>
	<string>hotbox-dev-8e719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159718753959:ios:02e0c770d4fe8a8f</string>
	<key>DATABASE_URL</key>
	<string>https://hotbox-dev-8e719.firebaseio.com</string>
</dict>
</plist>